<app-home-navbar></app-home-navbar>
<div class="body d-flex flex-column">
  <div class="text-um d-flex align-items-center justify-content-evenly flex-wrap">
    <div class="texto">
      <h1>A TECNOLOGIA QUE CUIDA DO SEU PET</h1>
      <h5>
        Por meio da inovação da Telemedicina, tornamos possível levar até você e seu PET, seja onde estiver, plataformas online que promovem orientação de saúde médica veterinária.
      </h5>
    </div>
    <div class="imagem-um d-flex justify-content-center align-items-center">
      <img src="../../../../assets/img/tele.png" alt="">
    </div>
  </div>
  <div class="text-dois d-flex align-items-center justify-content-end flex-wrap">
    <div class="text d-flex flex-column align-items-center justify-content-center">
      <h1>ACESSO RÁPIDO E CONVENIENTE</h1>
      <img src="../../../../assets/img/benefictele.png" alt="">
    </div>
  </div>
  <div class="text-um d-flex align-items-center justify-content-evenly flex-wrap">
    <div class="texto">
      <h1>CONSULTE ONLINE E TIRE DUVIDAS COM VETERINÁRIO</h1>
      <h5>
        Veterinários oferecem orientações adequadas para a saúde do seu pet.
Canal de dúvidas, conselhos nutricionais e informações, tudo sem sair de casa.
      </h5>
    </div>
    <div class="imagem-um d-flex justify-content-center align-items-center">
      <img src="../../../../assets/img/teleassist.png" alt="">
    </div>
  </div>
</div>
