<div class="body-animal-page d-flex flex-wrap">
  <app-adm-navbar class="nav-menu"></app-adm-navbar>
  <div class="animais d-flex flex-column align-items-center">
    <app-header></app-header>
    <h5>{{formatDate(outra[0].hora)}} - {{formatDate(outra[4].hora)}}</h5>
    <div class="painel-setas d-flex justify-content-evenly align-items-evenly">
      <h5><i class="fa-solid fa-chevron-left" (click)="diminuiIterador();"></i></h5>
      <h5><i class="fa-solid fa-chevron-right" (click)="somaIterador();"></i></h5>
    </div>
    <div class="agenda d-flex flex-column align-items-center justify-content-center flex-wrap">
      <div class="domingo d-flex justify-content-center">
        <div class="cab-esq d-flex flex-column align-items-center" *ngFor="let datas of outra">
          <div class="cabcab d-flex flex-column align-items-center justify-content-center">
            <h5>{{datas.dia}}</h5>
            <h5 style="font-size: medium;">{{(formatDate(datas.hora)).replace('20','')}}</h5>
          </div>
          <div class="Seteh d-flex flex-column align-items-center justify-content-center">
            <div class="hora d-flex align-items-start justify-content-center">
            </div>
              <div *ngFor="let agendamento of agendamentosDia">
                <div *ngFor="let agenda of agendamento">
                  <div [class]="agenda.agd_tipo+' d-flex flex-column align-items-center justify-content-center'" id='ag' *ngIf="formatDate(agenda.agd_data)=== formatDate(datas.hora)">
                    <p style="color:rgb(0, 156, 218)">{{agenda.ani_nome}}</p>
                    <p style="color:#6b4103">{{agenda.tut_nome}}</p>
                    <p>{{formataHora(agenda.agd_horario)}}</p>
                    <p>M.V. {{agenda.col_nome}}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="legenda d-flex align-items-center justify-content-evenly flex-wrap">
    <h5>Lengenda de cores: </h5>
    <h5 class="Consulta">Consulta</h5>
    <h5 class="Emergencia">Emergência</h5>
    <h5 class="Retorno">Retorno</h5>
    <h5 class="Encaixe">Encaixe</h5>
    <h5 class="Cirurgia">Avaliação Cirurgica</h5>
    <h5 class="Home">Ultrassonografia</h5>
    <h5 class="Coleta-Exame">Coleta de Exame</h5>
    <h5 class="Vacina">Eletrocardiograma</h5>
  </div>
    <div class="novo-agendamento">
      <button class="btn btn-primary" style="color: #f8e5ac;" type="button" (click)="novoAgenda(); collapseAtend();">Novo Agendamento</button>
    </div>
    <div class="animais d-flex flex-column align-items-center">
      <div class="carteirinha d-flex flex-column align-items-center justify-content-center" >
        <form class="input-group mb-3" [formGroup]="animal" *ngIf="agendaNovo">
          <input type="text" class="form-control" placeholder="RGA" aria-label="RGA" name="rga" aria-describedby="button-addon2" formControlName="rga">
          <button class="btn btn-outline-secondary" (click)="consultaAnimais(httpOptions)" id="button-addon2">Consultar</button>
        </form>
        <form *ngIf="animalDates && masgError==null && agendaNovo" class="dados d-flex align-items-center justify-content-evenly flex-wrap" [formGroup]="dadoAgendamento">
          <div>
            <label for="tipos">Tipo de Atendimento*</label>
            <select class="form-select form-select-lg" name="tipo" aria-label=".form-select-lg example" formControlName="tipo" required>
              <option selected hidden>Tipo de Atendimento</option>
              <option *ngFor="let tipo of tipoAtendimento" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>
          <div *ngIf="dadoAgendamento.value.tipo == 'Especialista'">
            <label for="tipos">Especialidade*</label>
            <select class="form-select form-select-lg" name="tipo" aria-label=".form-select-lg example" formControlName="tipo" required>
              <option selected hidden>Especialidade</option>
              <option *ngFor="let tipo of especialidades" [value]="tipo.esp_id">{{ tipo.esp_nome }}</option>
            </select>
          </div>
          <div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="data">Data / Hora</label>
              <input type="datetime-local" class="form-control" placeholder="" aria-label="Example text with button addon" id="data" formControlName="dataHora">
            </div>
          </div>
          <div>
            <label for="sexo">Selecione o Veterinário*</label>
            <select class="form-select form-select-lg"  name="unidade" id="unidade" aria-label=".form-select-lg example" formControlName="veterinario" required>
              <option *ngFor="let veterinario of veterinarios" [value]="veterinario.vet_id">M.V. {{veterinario.col_nome}}</option>
            </select>
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Pedido por:</span>
            <input type="text" class="form-control" placeholder="Inserir se houver pedido" aria-label="pedido" aria-describedby="addon-wrapping" required formControlName="pedido">
          </div>
          <button type="button" class="btn btn-info" (click)="adicionaAgenda()" >Agendar</button>
          <div *ngIf="succes" class="d-flex flex-row align-items-center justify-content-center" >
            <h5 style="color: rgb(53, 140, 207);">
              <i class="fa-solid fa-check" style="color: rgb(53, 140, 207);"></i> {{succes}}
            </h5>
          </div>
        </form>

        <div class="cards d-flex flex-wrap align-items-evenly justify-content-center" *ngIf="animalDates && masgError==null && agendaNovo">
          <div class="animal-card d-flex justify-content-start align-items-center" style="background-color: rgb(172, 247, 222);">
            <div class="topo-card d-flex justify-content-center">
              <div class="header d-flex flex-column align-items-center">
                <h1><i class="fa-solid fa-user"></i></h1>
                <div class="infos d-flex flex-column align-items-start">
                  <h6>Nome:  {{animalDates.tut_nome}}</h6>
                  <h6>CPF: {{animalDates.tut_cpf}}</h6>
                  <h6>Telefone: {{formatarTelefone(animalDates.tut_telefone)}}</h6>
                  <h6>Endereço:  {{animalDates.tut_rua}}, {{animalDates.tut_numero}} - {{animalDates.tut_bairro}} - {{animalDates.tut_cidade}}</h6>
                  <h5>Tipo: {{animalDates.tut_tipo}}</h5>
                  <div class="dropdown">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="animal-card" *ngIf="animalDates && masgError==null && agendaNovo">
            <h1><i class="fa-solid fa-dog" *ngIf="animalDates.ani_especie === 'Canina'"></i></h1>
            <h1><i class="fa-solid fa-cat" *ngIf="animalDates.ani_especie === 'Felina'"></i></h1>
            <div class="card-content">
              <a href="/animalPage" (click)="enviarID(
                animalDates.tut_id,
                animalDates.ani_nome,
                animalDates.ani_especie,
                animalDates.ani_raca,
                animalDates.ani_cor,
                animalDates.ani_sexo,
                animalDates.ani_nascimento,
                animalDates.ani_particularidades,
                animalDates.ani_rga,
                animalDates.ani_urlfoto,
                animalDates.tut_nome,
                animalDates.tut_telefone,
                animalDates.tut_rua,
                animalDates.tut_numero,
                animalDates.tut_bairro,
                animalDates.tut_cidade,
                animalDates.tut_cpf,
                animalDates.tut_tipo,
                animalDates.tut_cep,
                animalDates.ani_porte,
                animalDates.ani_id
                )"><h5>{{animalDates.ani_nome}}</h5></a>
              <h6>{{animalDates.ani_raca}}</h6>
            </div>
          <h4><i style="color: rgb(250, 183, 231); margin-left: 10px;" class="fa-solid fa-venus" *ngIf="animalDates.ani_sexo === 'F'"></i></h4>
          <h4><i style="color: rgb(106, 212, 212); margin-left: 10px;" class="fa-solid fa-mars" *ngIf="animalDates.ani_sexo === 'M'"></i></h4>
      </div>
    </div>
    <div *ngIf="masgError" class="d-flex flex-row align-items-center justify-content-center" >
      <h5 style="color: rgb(207, 53, 53);">
        <i class="fa-regular fa-face-frown"></i> RGA não cadastrado no sistema
      </h5>
    </div>
  </div>

</div>
