<div class="body-animal-page d-flex flex-wrap">
  <app-adm-navbar class="nav-menu"></app-adm-navbar>
  <div class="header-card d-flex flex-column">
    <div class="topo-card d-flex justify-content-center">
      <div class="header d-flex flex-column align-items-center">
        <h1>{{animalDates.nome}}</h1>
        <div class="infos d-flex flex-column align-items-start">
          <h5>Espécie:  {{animalDates.especie}}</h5>
          <h5>Cor: {{animalDates.cor}}</h5>
          <h5>Sexo: {{animalDates.sexo}}</h5>
          <h5>Idade: {{calcIdade(animalDates.idade)}}</h5>
          <h5>Raça: {{animalDates.raca}}</h5>
          <h5>Particularidades:</h5>
        </div>
      </div>
      <div class="identificacoes d-flex flex-column align-items-center">
        <img [src]="animalDates.urlfoto" alt="" class="foto-animal" src="../../../../assets/fotos/">
        <h5>RGA: {{animalDates.rga}}</h5>
      </div>
    </div>
    <div class="particularidades d-flex flex-column align-items-start">
      <h6>{{animalDates.particularidades}}</h6>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <button type="button" class="btn btn-primary">Modificar</button>
    </div>
      <div class="carteira-virtual d-flex flex-column align-items-center">
        <hr><br>
        <h1>Tutor</h1>
        <div class="card-vacina d-flex align-content-around flex-wrap">
          <div class="topo-carteirinha d-flex justify-content-start">
            <h4><i class="fa-solid fa-person"></i></h4>
            <h4>{{animalDates.tutor}}</h4>
          </div>
          <div class="corpo-carteirinha d-flex align-items-center justify-content-between">
            <div class="dados-carteira d-flex flex-column">
              <h5>Tipo: {{animalDates.tipo}}</h5>
              <h5>Telefone: {{animalDates.telefone}}</h5>
              <h5>Endereço: {{animalDates.rua}},{{animalDates.numero}} - {{animalDates.bairro}} - {{animalDates.cidade}}</h5>
              <h5>CPF: {{animalDates.cpf}}</h5>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <button type="button" class="btn btn-primary">Modificar</button>
        </div>
    </div>
    <div class="carteira-virtual d-flex flex-column align-items-center">
      <hr><br>
      <h1>Atendimentos</h1>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <button type="button" class="btn btn-primary">Agendar Novo</button>
      </div>
      <div class="drop-itens d-flex flex-column justify-content-center" >
        <div class="accordion accordion-flush" id="accordionFlushExample" *ngFor="let atendimento of atendimentos.atendimento">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h4><i class="fa-solid fa-stethoscope"></i></h4>
                <h4>ATENDIMENTO {{formatDate(atendimento.atd_data_hora)}}</h4>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div href="/app-novoCliente" class="item-menu d-flex flex-row">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-user-doctor"></i> MV Responsável: Dr. {{atendimento.col_nome}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Diagnóstico: {{atendimento.atd_diagnostico}}</h5>
                </div>
                <div href="/incluirAnimal" class="session item-menu d-flex flex-row">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-notes-medical"></i> Parâmetros Observados</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Temperatura: {{atendimento.atd_temperatura}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Mucosas: {{atendimento.atd_mucosas}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Linfonodos: {{atendimento.atd_linfonodos}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Respiração: {{atendimento.atd_respiratorio}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Coração: {{atendimento.atd_cardiaco}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sons Respiratórios: {{atendimento.atd_ausculta_respiratoria}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sons Cardíacos: {{atendimento.atd_ausculta_cardiaca}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Pressão Arterial: {{atendimento.atd_pa}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Peso: {{atendimento.atd_peso_animal}} </h5>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-row">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-staff-snake"></i> Exame Físico </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Respiratório: {{atendimento.atd_sistema_respiratorio}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Cardiovascular: {{atendimento.atd_sistema_cardiovascular}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Gastrointestinal: {{atendimento.atd_sistema_gastrointestinal}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Endócrino: {{atendimento.atd_sistema_endocrino}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Urinário: {{atendimento.atd_sistema_urinario}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Reprodutor: {{atendimento.atd_sistema_reprodutivo}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Sistema Respiratório: {{atendimento.atd_sistema_respiratorio}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Dermatológico: {{atendimento.atd_dermatologico}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Oftálmico: {{atendimento.atd_oftalmico}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5>Ondontológico: {{atendimento.atd_odontologico}}</h5>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-syringe"></i> Aplicações</h5>
                  <div class="" *ngFor="let aplicacoes of anexos">
                  <div class="exames d-flex flex-column justify-content-start align-items-start" *ngFor="let aplicacao of aplicacoes.aplicacoes">
                    <h5>Medicação: {{aplicacao.api_nome}} </h5>
                    <h5>Apresentação: {{aplicacao.api_apresentacao}}</h5>
                    <h5>Concentração: {{aplicacao.api_concentracao}}</h5>
                    <h5>Dose: {{aplicacao.api_quantidade}} </h5>
                  </div>
                </div>
                <div *ngIf="tamanho.aplicacoes === 0">
                  <h5>Nenhuma aplicação realizada</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-pills"></i> Receituário</h5>
                  <div *ngFor="let receituarios of anexos">
                  <div class="exames d-flex flex-column justify-content-start align-items-start" *ngFor="let receituario of receituarios.receituarios">
                      <h5>Link do Receituário: {{receituario.rec_urldocumento}}</h5>
                  </div>
                </div>
                <div *ngIf="tamanho.receituarios === 0">
                  <h5>Nenhum receituário emitido realizada</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-vial-circle-check"></i> Exames Solicitados</h5>
                  <div *ngFor="let exames of anexos">
                  <div class="exames d-flex flex-column justify-content-start align-items-start" *ngFor="let exame of exames.exames">
                      <h5 style="color:rgb(206, 126, 72)">Exame: {{exame.exm_nome}}</h5>
                      <h5>Data de Solicitação: {{formatDate(exame.pex_data_pedido)}}</h5>
                      <h5>Status: {{analisaRealizacao(exame.pex_data_realizacao)}}</h5>
                      <h5>Laudo: Não disponível</h5>
                  </div>
                </div>
                <div *ngIf="tamanho.exames === 0">
                  <h5>Nenhum exame solicitado</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-heart-pulse"></i> Encaminhamento Cirúrgico</h5>
                  <div *ngFor="let cirurgias of anexos">
                  <div class="exames d-flex flex-column justify-content-start align-items-start" *ngFor="let cirurgia of cirurgias.cirurgias">
                      <h5>Cirurgia: {{cirurgia.cir_nome}}</h5>
                      <h5>Data de Solicitação: {{formatDate(cirurgia.eci_data_pedido)}}</h5>
                      <h5>Status: {{analisaRealizacao(cirurgia.eci_data_realizacao)}}</h5>
                  </div>
                </div>
                <div *ngIf="tamanho.cirurgias === 0">
                  <h5>Nenhuma encaminhamento cirúrgico solicitado</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-hand-holding-medical"></i> Encaminhamentos</h5>
                  <div *ngFor="let encaminhamentos of anexos">
                  <div class="exames d-flex flex-column justify-content-start align-items-start" *ngFor="let encaminhamento of encaminhamentos.encaminhamentos">
                      <h5>Especialidade: {{encaminhamento.enc_especialidade}}</h5>
                  </div>
                </div>
                <div *ngIf="tamanho.encaminhamentos === 0">
                  <h5>Nenhum encaminhamento solicitado</h5>
                </div>
                </div>
              </div>
            </div>
        </div>
  </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href="/user">
        <h5 style="color:  #0478A1">VOLTAR</h5>
      </a>
    </div>
  </div>
</div>
