<div class="body-animal-page d-flex flex-wrap">
  <app-adm-navbar class="nav-menu"></app-adm-navbar>
  <div class="header-card d-flex flex-column">
    <div class="topo-card d-flex justify-content-center">
      <div class="header d-flex flex-column align-items-center">
        <h1>{{animalDates.nome}}</h1>
        <div class="infos d-flex flex-column align-items-start">
          <h5>Espécie:  {{animalDates.especie}}</h5>
          <h5>Cor: {{animalDates.cor}}</h5>
          <h5>Sexo: {{animalDates.sexo}}</h5>
          <h5>Idade: {{calcIdade(animalDates.idade)}}</h5>
          <h5>Raça: {{animalDates.raca}}</h5>
          <h5>Particularidades:</h5>
        </div>
      </div>
      <div class="identificacoes d-flex flex-column align-items-center">
        <img [src]="animalDates.urlfoto" alt="" class="foto-animal" src="../../../../assets/fotos/">
        <h5>RGA: {{animalDates.rga}}</h5>
      </div>
    </div>
    <div class="particularidades d-flex flex-column align-items-start">
      <h6>{{animalDates.particularidades}}</h6>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <button type="button" class="btn btn-primary" (click)="atualizaAnimal()">Modificar</button>
    </div>
      <div class="carteira-virtual d-flex flex-column align-items-center">
        <hr><br>
        <h1>Tutor</h1>
        <div class="card-vacina d-flex align-content-around flex-wrap">
          <div class="topo-carteirinha d-flex justify-content-start">
            <h4><i class="fa-solid fa-person"></i></h4>
            <h4>{{animalDates.tutor}}</h4>
          </div>
          <div class="corpo-carteirinha d-flex align-items-center justify-content-between">
            <div class="dados-carteira d-flex flex-column">
              <h5>Tipo: {{animalDates.tipo}}</h5>
              <h5>Telefone: {{animalDates.telefone}}</h5>
              <h5>Endereço: {{animalDates.rua}},{{animalDates.numero}} - {{animalDates.bairro}} - {{animalDates.cidade}}</h5>
              <h5>CPF: {{animalDates.cpf}}</h5>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <button type="button" class="btn btn-primary" (click)="atualizaTutor();">Modificar</button>
        </div>
    </div>
    <div class="carteira-virtual d-flex flex-column align-items-center">
      <hr><br>
      <h1>Atendimentos</h1>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <button type="button" style="margin-bottom: 20px;" class="btn btn-primary" (click)="collapseAtend()">Agendar Novo</button>
      </div>
      <form *ngIf="collapsed" class="dados d-flex align-items-center justify-content-evenly flex-wrap" [formGroup]="dadoAgendamento">
        <div>
          <label for="sexo">Selecione o Veterinário*</label>
          <select class="form-select form-select-lg"  name="unidade" id="unidade" aria-label=".form-select-lg example" formControlName="unidade" required>
            <option *ngFor="let veterinario of veterinarios" value={{veterinario}}>{{veterinario}}</option>
          </select>
        </div>
        <div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="data">Data / Hora</label>
            <input type="datetime-local" class="form-control" placeholder="" aria-label="Example text with button addon" id="data" formControlName="dataHora">
          </div>
        </div>
        <div>
          <label for="tipos">Tipo de Atendimento*</label>
          <select class="form-select form-select-lg" name="tipo" aria-label=".form-select-lg example" formControlName="tipo" required>
            <option selected hidden>Tipo de Atendimento</option>
            <option *ngFor="let tipo of tipoAtendimento" [value]="tipo">{{ tipo }}</option>
          </select>
        </div>
      </form>
  </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href="/animais">
        <h5 style="color:  #0478A1">VOLTAR</h5>
      </a>
    </div>
  </div>
</div>
