<div class="body-animal-page d-flex flex-wrap">
  <app-adm-navbar class="nav-menu"></app-adm-navbar>
  <div class="header-card d-flex flex-column">
    <div class="topo-card d-flex justify-content-center">
      <div class="header d-flex flex-column align-items-center">
        <h1>{{animalDates.nome}}</h1>
        <div class="infos d-flex flex-column align-items-start">
          <h5>Espécie:  {{animalDates.especie}}</h5>
          <h5>Cor: {{animalDates.cor}}</h5>
          <h5>Sexo: {{animalDates.sexo}}</h5>
          <h5>Idade: {{calcIdade(animalDates.idade)}}</h5>
          <h5>Raça: {{animalDates.raca}}</h5>
          <h5>Particularidades:</h5>
        </div>
      </div>
      <div class="identificacoes d-flex flex-column align-items-center">
        <img [src]="animalDates.urlfoto" alt="" class="foto-animal" src="../../../../assets/fotos/">
        <h5>RGA: {{animalDates.rga}}</h5>
      </div>
    </div>
    <div class="particularidades d-flex flex-column align-items-start">
      <h6>{{animalDates.particularidades}}</h6>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center">
      <button type="button" class="btn btn-primary" (click)="atualizaAnimal()">Modificar</button>
    </div>
      <div class="carteira-virtual d-flex flex-column align-items-center">
        <hr><br>
        <h1>Tutor</h1>
        <div class="card-vacina d-flex align-content-around flex-wrap">
          <div class="topo-carteirinha d-flex justify-content-start">
            <h4><i class="fa-solid fa-person"></i></h4>
            <h4>{{animalDates.tutor}}</h4>
          </div>
          <div class="corpo-carteirinha d-flex align-items-center justify-content-between">
            <div class="dados-carteira d-flex flex-column">
              <h5>Tipo: {{animalDates.tipo}}</h5>
              <h5>Telefone: {{animalDates.telefone}}</h5>
              <h5>Endereço: {{animalDates.rua}},{{animalDates.numero}} - {{animalDates.bairro}} - {{animalDates.cidade}}</h5>
              <h5>CPF: {{animalDates.cpf}}</h5>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <button type="button" class="btn btn-primary" (click)="atualizaTutor();">Modificar</button>
        </div>
    </div>
    <div class="carteira-virtual d-flex flex-column align-items-center">
      <hr><br>
      <h1>Atendimentos</h1>
      <div *ngIf="atendimentos && atendimentos.length > 0" class="overflow-scroll">
        <div class="drop-itens d-flex flex-column justify-content-center">
          <div class="atd accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" *ngFor="let atendimento of atendimentos; let i = index">
              <h2 class="accordion-header" [attr.id]="'flush-heading' + i">
                <button class="accordion-button collapsed" [id]="atendimento.atd_tipo" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + i" (click)="getAnexos(atendimento.atd_id); getResponsavel(atendimento.agd_veterinario_vet_id)">
                  <h4><i class="fa-solid fa-stethoscope"></i></h4>
                  <h4>ATENDIMENTO {{formatDate(atendimento.atd_data)}}</h4>
                </button>
              </h2>
              <div [attr.id]="'flush-collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + i" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div href="/app-novoCliente" class="item-menu d-flex flex-row">
                    <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-user-doctor"></i> MV Responsável: Dr. {{vetResp}}</h5>
                  </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row flex-wrap" style="text-align: center;">
                  <h4 style="color: rgb(169, 14, 0);">Suspeitas Diagnósticas: </h4>
                    <h5 *ngFor="let suspeita of anexos.suspeitas" class="suspeitas">{{suspeita.dnc_doenca}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row" style="text-align: center;">
                  <h4><b style="color:rgb(243, 98, 1)">Tipo de Atendimento: {{atendimento.atd_tipo}}</b> </h4>
                    <h5 *ngIf="atendimento.atd_retorno != '' ">{{atendimento.atd_retorno}}</h5>
                </div>
                <div></div>
                <div href="/incluirAnimal" class="session item-menu d-flex flex-row">
                  <h4 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-notes-medical"></i> Parâmetros Observados</h4>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Peso:</b> {{atendimento.atd_peso}} Kg</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Temperatura:</b> {{atendimento.atd_temperatura}} ºC</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Mucosas:</b> {{atendimento.atd_mucosas}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Linfonodos:</b> {{atendimento.atd_linfonodos}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>FC:</b> {{atendimento.atd_fc}} BPM</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>FR:</b> {{atendimento.atd_fr}} MPM</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sons Respiratórios:</b> {{atendimento.atd_respiracao}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sons Cardíacos:</b> {{atendimento.atd_cardiaco}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Pressão Arterial:</b> {{atendimento.atd_pa}} </h5>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-row">
                  <h4 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-staff-snake"></i> Anamnese </h4>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Ambiente:</b> {{atendimento.atd_anambiente}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Ingestão Hídrica:</b> {{atendimento.atd_aningestaoh}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Alimentação:</b> {{atendimento.atd_analimentacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Suplementação:</b> {{atendimento.atd_ansuplementacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Peso Corporal:</b> {{atendimento.atd_anpeso}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Vacinação:</b> {{atendimento.atd_anvacinacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Vermifugação:</b> {{atendimento.atd_anvermifugacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Ectoparasiticida:</b> {{atendimento.atd_anectoparasiticida}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Castração:</b> {{atendimento.atd_ancastracao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Diurese:</b> {{atendimento.atd_andiurese}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Defecção:</b> {{atendimento.atd_andefeccao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Parasitos:</b> {{atendimento.atd_anparasitos}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Prurido:</b> {{atendimento.atd_anprurido}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Vômito:</b> {{atendimento.atd_anvomito}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Regurgitação:</b> {{atendimento.atd_anregurgitacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Comportamento:</b> {{atendimento.atd_ancomportamento}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sono:</b> {{atendimento.atd_ansono}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Vocalização:</b> {{atendimento.atd_anvocalizacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Incoordenação:</b> {{atendimento.atd_anincoordenacao}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Crise Epilética:</b> {{atendimento.atd_anepilepsia}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Síncope:</b> {{atendimento.atd_ansincope}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Tosse:</b> {{atendimento.atd_antosse}}</h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Lambedura:</b> {{atendimento.atd_anlambedura}}</h5>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-row">
                  <h4 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-staff-snake"></i> Exame Físico </h4>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Respiratório:</b> {{atendimento.exf_respiratorio}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Cardiovascular:</b> {{atendimento.exf_cardiovascular}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Gastrointestinal:</b> {{atendimento.exf_gastrointestinal}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Endócrino:</b> {{atendimento.exf_endocrino}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Urinário:</b> {{atendimento.exf_urinario}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Reprodutor:</b> {{atendimento.exf_reprodutivo}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Sistema Respiratório:</b> {{atendimento.exf_respiratorio}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Dermatológico:</b> {{atendimento.exf_dermatologico}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Oftálmico:</b> {{atendimento.exf_oftalmico}} </h5>
                </div>
                <div href="/buscarCliente" class="item-menu d-flex flex-row">
                  <h5><b>Ondontológico:</b> {{atendimento.exf_ondontologico}}</h5>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-syringe"></i> Aplicações</h5>
                  <div class="" *ngFor="let aplicacao of anexos.aplicacoes;">
                  <div class="exames d-flex flex-column justify-content-start align-items-start">
                    <h5 style="color:rgb(206, 126, 72)"><b style="color:rgb(206, 126, 72)">Medicação:</b> {{aplicacao.med_nome}} </h5>
                    <h5><b>Apresentação:</b> {{aplicacao.med_apresentacao}}</h5>
                    <h5><b>Concentração:</b> {{aplicacao.med_concentracao}}</h5>
                    <h5><b>Dose:</b> {{aplicacao.apl_dose}} </h5>
                    <h5><b>Via:</b> {{aplicacao.apl_tipo}}</h5>
                  </div>
                </div>
                <div *ngIf="anexos.aplicacoes.length === 0">
                  <h5>Nenhuma aplicação realizada</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-pills"></i> Receituário</h5>
                  <div *ngFor="let aplicacao of anexos.receita">
                    <div class="exames d-flex flex-column justify-content-start align-items-start">
                      <h5 style="color:rgb(206, 126, 72)"><b style="color:rgb(206, 126, 72)">Medicação:</b> {{aplicacao.med_nome}}</h5>
                      <h5 style=><b>Dose:</b> {{aplicacao.rec_dose}} </h5>
                      <h5 style=><b>Concentração:</b> {{aplicacao.med_concentracao}}</h5>
                      <h5 style=><b>Duração:</b> {{aplicacao.rec_duracao}}</h5>
                      <h5 style=><b>Via:</b> {{aplicacao.rec_tipo}}</h5>
                    </div>
                </div>
                <div *ngIf="anexos.receita.length === 0">
                  <h5>Nenhum receituário emitido realizada</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-vial-circle-check"></i> Exames Solicitados</h5>
                  <div *ngFor="let exame of anexos.exames">
                  <div class="exames d-flex flex-column justify-content-start align-items-start">
                      <h5 style="color:rgb(206, 126, 72)">Exame: {{exame.exm_exame}}</h5>
                      <h5>Data de Solicitação: {{formatDate(exame.pex_data)}}</h5>
                      <h5 *ngIf="exame.pex_realizacao != null">Realização: {{exame.pex_realizacao}}</h5>
                      <h5 *ngIf="exame.pex_realizacao === null">Realização: Exame ainda não realizado</h5>
                      <h5>Laudo: {{exame.pex_laudo}}</h5>
                  </div>
                </div>
                <div *ngIf="anexos.exames.length == 0">
                  <h5>Nenhum exame solicitado</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-heart-pulse"></i> Encaminhamento Cirúrgico</h5>
                  <div *ngFor="let cirurgias of anexos.cirurgias">
                  <div class="exames d-flex flex-column justify-content-start align-items-start">
                      <h5><b style="color:rgb(206, 126, 72)">Cirurgia:</b> {{cirurgias.cir_cirurgia}}</h5>
                      <h5 *ngIf="cirurgias.enc_realizaca != null">Realização: {{cirurgias.enc_realizaca}}</h5>
                      <h5 *ngIf="cirurgias.enc_realizaca === null">Realização: Cirurgia ainda não realizado</h5>
                      <h5 *ngIf="cirurgias.enc_agendamento != null">Agendamento: {{cirurgias.enc_agendamento}}</h5>
                      <h5 *ngIf="cirurgias.enc_agendamento === null">Cirurgia ainda não realizado</h5>
                  </div>
                </div>
                <div *ngIf="anexos.cirurgias.length === 0">
                  <h5>Nenhuma encaminhamento cirúrgico solicitado</h5>
                </div>
                </div>
                <div href="/buscarCliente" class="session item-menu d-flex flex-column">
                  <h5 style="color: rgb(201, 80, 0);"><i class="fa-solid fa-hand-holding-medical"></i> Encaminhamentos</h5>
                  <div *ngFor="let encaminhamento of anexos.especialidades">
                  <div class="exames d-flex flex-column justify-content-start align-items-start">
                      <h5><b style="color:rgb(206, 126, 72)">Especialidade:</b> {{encaminhamento.ece_especialidade}}</h5>
                  </div>
                </div>
                <div *ngIf="anexos.especialidades.length === 0">
                  <h5>Nenhum encaminhamento solicitado</h5>
                </div>
                </div>
                <a href="/prontuario">
                  <button type="button" class="btn btn-primary" (click)="enviaDadosAtendimento(atendimento, anexos)">Imprimir / PDF</button>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href="/animais">
        <h5 style="color:  #0478A1">VOLTAR</h5>
      </a>
    </div>
  </div>
</div>
