* {
  text-decoration: none;
}

.body {
  margin-top: 40px;
}

.contrato-card {
  width: 300px;
  height: 80px;
  background-color: rgb(17, 100, 152);
  border-radius: 15px;
  text-align: center;
  border: none;
}

.contrato-card:hover {
  background-color: rgb(72, 135, 218);
  border: none;
  transition: 0.5s;
}

.carencias {
  margin-top: 60px;
  width: 100%;
  margin-bottom: 40px;
}

#aquisicao {
  background-color: rgb(17, 100, 152);
  border: none;
}

.aquisicao {
  background-color: rgb(245, 234, 82);
  padding: 40px;
  border-radius: 15px;
}

.aquisicao img{
  max-width: 200px;
  margin-top: 15px;

}

#aquisicao:hover {
  background-color: rgb(72, 135, 218);
  border: none;
  transition: 0.5s;
}

.carencias img {
  border-radius: 10px;
  box-shadow: 0px 5px 23px 1px rgba(0,0,0,0.48);
  -webkit-box-shadow: 0px 5px 23px 1px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 5px 23px 1px rgba(0,0,0,0.48);

}

.carencias h1 {
  margin-bottom: 30px;
}

h4 {
  color: rgb(255, 255, 255);
}

h4 i{
  color: rgb(255, 255, 255);
}

.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Define uma proporção de altura em relação à largura */
  height: 0;
  overflow: auto;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
}

.formas {
  width: 100%;
  margin: 40px 0px 0px 0px;
}

mat-form-field {
  margin-bottom: 20px;
}

mat-chip-listbox {
  margin-bottom: 15px;
}

mat-chip-option {
  height: 100px;
  background-color: bisque;
}

#aquisicao {
  background-color: rgb(17, 100, 152);
  border: none;
  margin-bottom: 40px;
}

#aquisicao:hover {
  background-color: rgb(72, 135, 218);
  border: none;
  transition: 0.5s;
}

.erros {
  color: rgb(134, 12, 12) !important;
}

#input {
  padding: 10px;
}

.inputs {
  width: 100%;
}

@media screen and (max-width: 450px) {
  .carencias img {
    width: 80%;
  }
}
