<div class="body-animal-page d-flex flex-wrap">
  <app-adm-navbar class="nav-menu"></app-adm-navbar>
  <div class="animais d-flex flex-column justify-content-center align-items-center">
    <h1>Atualizar Tutor</h1>
    <form action="" class="d-flex flex-column align-items-center justify-content-center" [formGroup]="dadosPessoa">
      <div class="d-flex align-items-center justify-content-evenly flex-wrap">
        <mat-form-field class="example-full-width" id="input">
          <mat-label>Nome Completo</mat-label>
          <input matInput [placeholder]="animalDates.tutor" required formControlName="nome" [(ngModel)]="animalDates.tutor">
        </mat-form-field>
        <mat-form-field class="example-full-width" id="input">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="Ex. 31241366607" required formControlName="cpf" [(ngModel)]="animalDates.cpf">
          <div class="erros" *ngIf="dadosPessoa.get('cpf')?.errors?.['erro']">
            <p>{{dadosPessoa.get('cpf')?.errors?.['erro']}}</p>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" id="input" required>
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Ex. 16999938712" required formControlName="telefone" [(ngModel)]="animalDates.telefone">
          <div class="erros" *ngIf="dadosPessoa.get('telefone')?.errors?.['erro']">
            <p>{{dadosPessoa.get('telefone')?.errors?.['erro']}}</p>
          </div>
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-evenly flex-wrap">
        <mat-form-field class="example-full-width" id="input">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="Ex. 14815000" required formControlName="cep" [(ngModel)]="animalDates.cep" (blur)="consultaCep()">
          <div class="erros" *ngIf="dadosPessoa.get('cep')?.errors?.['erro']">
            <p>{{dadosPessoa.get('cep')?.errors?.['erro']}}</p>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width" id="input">
          <mat-label>Rua</mat-label>
          <input matInput placeholder="Ex. Rua Florianópolis" required formControlName="rua" name="rua" [(ngModel)]="animalDates.rua">
        </mat-form-field>
        <mat-form-field class="example-full-width" id="input">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Ex. 35" required formControlName="numero" [(ngModel)]="animalDates.numero">
        </mat-form-field>
        <mat-form-field class="example-full-width" id="input">
          <mat-label>Complemento</mat-label>
          <input matInput placeholder="Ex. Apto21" required formControlName="complemento" [(ngModel)]="animalDates.complemento">
        </mat-form-field>
        <mat-form-field class="example-full-width" id="input">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Ex. Jardim Brasil" required formControlName="bairro" [(ngModel)]="animalDates.bairro" name="bairro">
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-evenly flex-wrap">
        <mat-form-field class="example-full-width" id="input">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Ex. Ibaté" required formControlName="cidade" [(ngModel)]="animalDates.cidade">
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-evenly flex-wrap">
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo" [(ngModel)]="animalDates.tipo">
           <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="formas d-flex justify-content-center align-items-center">
      <button class="btn btn-primary" type="button" id="aquisicao" (click)="alteraTutor()">Registrar</button>
    </div>
    <div *ngIf="carregando" class="d-flex flex-column justify-content-center align-items-center">
      <div class="spinner-border text-info">
        <span class="visually-hidden">Cadastrando...</span>
      </div>
      <h5>Cadastrando Tutor</h5>
    </div>
    <div *ngIf="msgOK">
      <h5 style="color: rgb(66, 66, 73)">{{ msgOK }}</h5>
    </div>
      <div class="erros d-flex justify-content-center align-items-center" *ngIf="dadosPessoa.errors?.['erro']">
        <h5>Os campos com * são obrigatórios</h5>
      </div>
      <div class="erros d-flex justify-content-center align-items-center">
        <h5>{{msgError}}</h5>
      </div>
  </div>
</div>
