<div #tudo class="tudo" id="tudo">
  <div id="dados" class="d-flex flex-column align-items-center justify-content-between">
    <div class="d-flex justify-content-between align-items-center" id="cab-rec">
      <div class="logo d-flex justify-content-center">
        <img src="../../../../assets/img/logoPlano.png" alt="">
      </div>
      <div class="atend d-flex flex-column align-items-start justify-content-center">
        <b><h1 style="color: #f2b950">Atendimento Veterinario |</h1></b>
        <h4 style="color: aliceblue;"><b>Data:</b> {{formatDateForm(atd.atd_data_hora)}}</h4>
        <h4 style="color: aliceblue;"><b>Hora:</b> {{formatHourMinutes(atd.atd_data_hora)}}</h4>
        <h4 style="color: aliceblue;"><b>Médico Veterinário(a):</b> {{funcDates.col_nome}}</h4>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center" id="tutor-animal">
      <div class="atend d-flex flex-column align-items-start justify-content-center">
        <h3 style="color: #f2b950">Dados do Tutor</h3>
        <h4 style="color: aliceblue;"><b>Nome:</b> {{atdDates.agdDates.cli_nome}}</h4>
        <h4 style="color: aliceblue;"><b>Telefone:</b> {{formatarTelefone(atdDates.agdDates.cli_telefone)}}</h4>
        <h4 style="color: aliceblue;"><b>Endereço:</b> {{atdDates.agdDates.cli_rua}}, {{atdDates.agdDates.cli_numero}} - {{atdDates.agdDates.cli_bairro}} - {{atdDates.agdDates.cli_cidade}}</h4>
      </div>
      <div class="d-flex flex-column align-items-start justify-content-center" id="animal">
        <h4><b>Animal:</b> {{atdDates.agdDates.ani_nome}}</h4>
        <h4><b>Espécie:</b> {{atdDates.agdDates.ani_especie}}</h4>
        <h4><b>Raça:</b> {{atdDates.agdDates.ani_raca}}</h4>
        <h4><b>Idade:</b> {{calcIdade(atdDates.agdDates.ani_nascimento)}}</h4>
      </div>
    </div>
  </div>
  <div class="prescricao d-flex flex-column align-items-start justify-content-center">
    <h1><i class="fa-solid fa-paw"></i> RECEITUÁRIO VETERINÁRIO <i class="fa-solid fa-paw"></i></h1>
    <h2 *ngIf="vo.length > 0">USO ORAL</h2>
    <div class="prescs d-flex flex-column align-items-start justify-content-center" *ngFor="let med of vo; let i for index">
      <div class="prescs d-flex justify-content-between align-items-center">
        <h4>{{getCount()}}- {{med.medicacao}} {{med.concentracao}}{{med.medidaC}}</h4>
        <hr>
        <h4>{{apresentac[med.apresentacao]}}</h4>
      </div>
      <div class="prescs d-flex justify-content-between align-items-center">
        <h5>Dar {{med.dose}} {{apresentacoes[med.medidaD]}}, {{frequencias[med.frequencia]}} durante {{med.duracao}} dias.</h5>
      </div>
    </div>
    <h2 *ngIf="tp.length > 0">USO TÓPICO</h2>
    <div class="prescs d-flex flex-column align-items-start justify-content-center" *ngFor="let med of tp; let i for index">
      <div class="prescs d-flex justify-content-between align-items-center">
        <h4>{{getCount()}}- {{med.medicacao}} {{med.concentracao}}{{med.medidaC}}</h4>
        <hr>
        <h4>{{apresentac[med.apresentacao]}}</h4>
      </div>
      <div class="prescs d-flex justify-content-between align-items-center">
        <h5>Aplicar {{med.dose}} {{apresentacoes[med.medidaD]}}, {{frequencias[med.frequencia]}} durante {{med.duracao}} dias.</h5>
      </div>
    </div>
  </div>
  <div class="vet d-flex flex-column align-items-center justify-content-center">
    <h5>M.V. {{vetValidate[0].col_nome}}</h5>
    <h5>CRMV-SP {{vetValidate[0].vet_crmv}}</h5>
  </div>
</div>
<button (click)="gerarPDF()">Gerar PDF</button>

