<div class="body navbar d-flex align-itens-center justify-content-start">
  <div class="logo">
    <img src="../../../../assets/img/logoPlano.png" alt="">
  </div>
  <div class="drop-itens d-flex flex-column justify-content-center">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <i class="fa-solid fa-bars" style="color: #E7A51B;"></i>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a href="/"><h5>Home</h5></a>
          <a href="/contrato"><h5>Plano</h5></a>
          <a href="#contato"><h5>Contato</h5></a>
          <a href="/unidades"><h5>Unidades</h5></a>
          <a href="/telemedicina"><h5>Telemedicina</h5></a>
          <a href="/login"><h5>Carteirinha Digital</h5></a>
        </div>
      </div>
  </div>
  </div>
  </div>
  <app-resize-navbar></app-resize-navbar>
  <div class="itens-menu nav d-flex justify-content-evenly">
    <a href="/"><h5>Home</h5></a>
    <a href="/contrato"><h5>Plano</h5></a>
    <a href="#contato"><h5>Contato</h5></a>
    <a href="/unidades"><h5>Unidades</h5></a>
    <a href="/telemedicina"><h5>Telemedicina</h5></a>
    <a href="/login"><h5>Carteirinha Digital</h5></a>
  </div>
</div>
