* {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.body {
  background-color: #67a4ba;
  min-width: 100%;
}

.imgLogo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  margin-right: 10px;
}

.head-menu h1 {
  font-family: 'Amatic SC', cursive;
  text-shadow: 0px 4px 4px #00000040;
  font-weight: bold;
  color: #dc2440
}

.head-menu {
  padding: 20px;
}

.head-menu img {
  max-width: 30%;
  margin-left: 5px;
}

.itens-menu {
  padding-left: 40px;
}

.item-menu {
  margin-bottom: 35px;
}

@media screen and (max-width: 450px) {
  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;
    justify-content: center;
  }

  .itens-menu {
    display: none !important;
  }

  .drop-itens {
    margin-bottom: 20px;
  }

  .drop-itens .accordion .accordion-item .accordion-button {
    width: 300px;
    border-radius: 15px;
  }

  .accordion {
    border-radius: 15px;
    color: #67a4ba
  }

  .accordion-item {
    border-radius: 15px;
  }

  .item-menu h5 {
    color: #67a4ba;
  }

  .item-menu i {
    color: #67a4ba ;
  }

}

@media screen and (min-width: 451px) {
  .accordion-button {
    display: none !important;
  }

  .animais {
    height: 100%;
  }

  .items-menu {
    flex-wrap: nowrap !important;
  }
}
