<app-home-navbar></app-home-navbar>
<div class="body d-flex flex-column justify-content-center align-items-center">
  <div class="contrato-card d-flex flex-column justify-content-center align-items-center">
    <a href="../../../../assets/documents/AvilavetContrato.pdf" target="_blank">
      <h4>Veja nosso contrato Aqui</h4>
      <h4><i class="fa-solid fa-file-lines"></i></h4>
    </a>
  </div>
  <div class="carencias d-flex justify-content-evenly align-items-center flex-wrap">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1>Conheça Nossas Carências</h1>
      <img src="../../../../assets/img/carencia.png" alt="">
    </div>
    <div class="aquisicao d-flex flex-column justify-content-center align-items-center">
      <h1>Contrate já para seu pet!</h1>
      <a href="/aquisicao"><button class="btn btn-primary" type="button" id="aquisicao">Adquirir Plano</button></a>
      <img src="../../../../assets/img/thanks.jpg" alt="">
    </div>
  </div>
</div>

