<app-home-navbar></app-home-navbar>
<div class="content-one d-flex justify-content-between flex-wrap">
  <div class="content-script d-flex flex-column align-items-center justify-content-center flex-wrap">
    <img src="../../../assets/img/logoPlano.png" alt="">
    <img src="../../../assets/img/home2.png" alt="">
  </div>
  <div class="content-img">
    <img src="../../../assets/img/frame3.png" alt="">
  </div>
</div>
<div class="content-two">
  <img src="../../../assets/img/homeAtendimento.png" alt="">
</div>
<div class="sobre d-flex flex-column align-items-centers justify-content-center" id="sobre">
  <div class="cabecalho d-flex align-items-centers justify-content-center">
    <h4>Conheça o nosso Plano de Saúde PET</h4>
  </div>
  <div class="cards d-flex justify-content-center flex-wrap">
    <div class="card d-flex flex-column align-items-center justify-content-center">
      <div class="card-cima d-flex flex-column align-items-center justify-content-center">
        <h5>Clínica Médica</h5>
        <img src="../../../assets/img/clinica.png" alt="">
      </div>
      <div class="card-baixo d-flex align-items-center justify-content-center">
        <h5>
          Consulta completa com Clínico Geral
        </h5>
      </div>
    </div>
    <div class="card d-flex flex-column align-items-center justify-content-center">
      <div class="card-cima d-flex flex-column align-items-center justify-content-center">
        <h5>Cirurgias</h5>
        <img src="../../../assets/img/cirurgia.png" alt="">
      </div>
      <div class="card-baixo d-flex align-items-center justify-content-center">
        <h5>
          Cirurgias de baixa, média e alta complexidade.
        </h5>
      </div>
    </div>
    <div class="card d-flex flex-column align-items-center justify-content-center">
      <div class="card-cima d-flex flex-column align-items-center justify-content-center">
        <h5>Internação</h5>
        <img src="../../../assets/img/internacao.png" alt="">
      </div>
      <div class="card-baixo d-flex align-items-center justify-content-center">
        <h5>
          Internação e Acompanhamento 24 horas.
        </h5>
      </div>
    </div>
    <div class="card d-flex flex-column align-items-center justify-content-center">
      <div class="card-cima d-flex flex-column align-items-center justify-content-center">
        <h5>Exames</h5>
        <img src="../../../assets/img/exames.png" alt="">
      </div>
      <div class="card-baixo d-flex align-items-center justify-content-center">
        <h5>
          Exames Laboratoriais e de Imagem.
        </h5>
      </div>
    </div>
    <div class="card d-flex flex-column align-items-center justify-content-center">
      <div class="card-cima d-flex flex-column align-items-center justify-content-center">
        <h5>Atendimento 24H</h5>
        <img src="../../../assets/img/24h.png" alt="">
      </div>
      <div class="card-baixo d-flex align-items-center justify-content-center">
        <h5>
          Atendimento de emergência 7 dias por semana, 24 horas.
        </h5>
      </div>
    </div>
  </div>
</div>
<app-contato></app-contato>


