h1 {
  color: #0478A1;
  margin-bottom: 50px;
}

.unidade {
  margin-bottom: 20px;
}

.unidade img {
  max-width: 60px;
}

.unidade h3 {
  text-align: end;
  margin: 0;
  color: #5C5C5C;
}

.unidades {
  margin: 50px 0;
}

