<div class="body">
  <div class="head-menu d-flex flex-column justify-content-center align-items-center">
    <img src="../../../../assets/img/estetopng.png" alt="">
    <h1>MENU</h1>
  <div class="drop-itens d-flex flex-column justify-content-center">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <i class="fa-solid fa-bars" style="color: #E7A51B;"></i>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <a href="/user" class="item-menu d-flex flex-row">
            <h5><i class="fa-solid fa-paw"></i> Meus Animais</h5>
          </a>
          <a href="/user" class="item-menu d-flex flex-row">
            <h5><i class="fa-solid fa-calendar-plus"></i> Agendamento de Consulta</h5>
          </a>
          <a href="/" class="item-menu d-flex flex-row" (click)="limparLocalStorage()">
            <h5><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</h5>
          </a>
        </div>
      </div>
  </div>
</div>
</div>
</div>
<app-resize-navbar></app-resize-navbar>
<div class="itens-menu d-flex flex-column align-items-start">
  <a href="/user" class="item-menu d-flex flex-row">
    <h5><i class="fa-solid fa-paw"></i> Meus Animais</h5>
  </a>
  <a href="/agendamentoconsulta" class="item-menu d-flex flex-row">
    <h5><i class="fa-solid fa-calendar-plus"></i> Agendamento de Consulta</h5>
  </a>
  <a href="/" class="item-menu d-flex flex-row" (click)="limparLocalStorage()">
    <h5><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</h5>
  </a>
</div>
</div>
