.cabecalho {
  margin-top: 40px;
}

.logorr {
  max-height: 100px;
}

.cabecalho {
  width: 100%;
  margin-bottom: 40px;
}

.brasao {
  max-height: 100px;
}

.dados-atendimento {
  width: 95%;
  margin: 40px;
  border: 2px solid;
  padding: 10px;
  border-radius: 20px;
}

.items-atd {
  width: 100%;
  border: 2px solid;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.suspeitas {
  width: 100%;
}

.susp {
  width: 100%;
}

.items-int {
  width: 100%;
  border: 2px solid;
  padding: 10px;
  border-radius: 20px;
}

.identificacao-tutor {
  width: 100%;
}
